In [6]:
import pandas as pd
student_data = pd.read_csv(r'C:\Users\user\Desktop\Skilfactory\data\students_performance.csv')

In [7]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [8]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [9]:
student_data.loc[155, 'writing score']

np.int64(88)

In [10]:
student_data['math score'].mean()

np.float64(66.089)

In [11]:
student_data['race/ethnicity'].value_counts()

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [12]:
student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()

np.float64(73.89385474860335)

In [13]:
student_data[student_data['math score'] == 0]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
59,female,group C,some high school,free/reduced,none,0,17,10

In [14]:
mask = student_data['lunch'] == 'standard'
mask1 = student_data['lunch'] == 'free/reduced'
print(student_data[mask]['math score'].mean())
print(student_data[mask1]['math score'].mean())

70.03410852713178
58.92112676056338

In [15]:
student_data[student_data['parental level of education'] == "bachelor's degree"].shape[0]/1000

0.118

Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

In [16]:

mask1 = student_data['race/ethnicity'] == 'group C'
a = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
b = student_data[mask1]['writing score'].median()
print(a - b)

-6.0