In [5]:
import pandas as pd

In [6]:
df = pd.read_csv(r'C:\Users\user\Desktop\Skilfactory\data\citibike-tripdata.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [8]:
df['start station id'].value_counts()

start station id
281.0     1928
2006.0    1909
519.0     1873
514.0     1845
426.0     1835
          ...
3432.0      15
3599.0      11
2005.0       9
3704.0       7
3583.0       6
Name: count, Length: 759, dtype: int64

In [9]:
df['bikeid'].value_counts()

bikeid
33887    107
34358    104
34159    103
34258    103
33916    102
        ...
18587      1
17324      1
29593      1
33157      1
25794      1
Name: count, Length: 10004, dtype: int64

In [10]:
a, b = df['usertype'].value_counts()

In [11]:
a/(a+b)

0.7740066666666666

In [12]:
df['gender'].value_counts()

gender
1    183582
2     74506
0     41912
Name: count, dtype: int64

In [13]:
df['start station id'].nunique()

759

In [14]:
df['end station id'].nunique()

765

In [15]:
df['birth year'].max()

2002

In [16]:
df['start station name'].value_counts().nsmallest(10)

start station name
Eastern Pkwy & Washington Ave     6
47 Ave & Skillman Ave             7
Railroad Ave & Kay Ave            9
Franklin Ave & Empire Blvd       11
NYCBS Depot - GOW                15
11 St & 35 Ave                   17
Columbia St & Lorraine St        19
Crown St & Bedford Ave           23
27 Ave & 4 St                    26
21 St & 38 Ave                   29
Name: count, dtype: int64

In [17]:
df['end station name'].value_counts()

end station name
West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: count, Length: 765, dtype: int64

In [18]:
df.drop(['start station id', 'end station id'], axis=1, inplace=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [20]:
df['age'] = 2018 - df['birth year']
df.drop('birth year', axis=1, inplace=True)

In [21]:
df[df['age'] > 60]

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
53,2018-09-01 00:04:20.9200,2018-09-01 00:11:21.6180,Grand Army Plaza & Central Park S,40.764397,-73.973715,Broadway & W 53 St,40.763441,-73.982681,24824,Subscriber,2,63
373,2018-09-01 00:25:47.6740,2018-09-01 00:39:31.7160,Mott St & Prince St,40.723180,-73.994800,Mott St & Prince St,40.723180,-73.994800,26083,Subscriber,2,68
405,2018-09-01 00:29:10.1630,2018-09-01 00:44:08.6110,Avenue D & E 3 St,40.720828,-73.977932,Avenue D & E 12 St,40.725806,-73.974225,33436,Subscriber,2,61
435,2018-09-01 00:31:21.7250,2018-09-01 00:41:57.9200,Broadway & W 56 St,40.765265,-73.981923,W 37 St & 10 Ave,40.756604,-73.997901,19894,Subscriber,2,63
457,2018-09-01 00:33:19.8080,2018-09-01 00:37:29.9270,Warren St & Court St,40.686371,-73.993833,Bond St & Bergen St,40.684967,-73.986208,34173,Subscriber,1,118
...,...,...,...,...,...,...,...,...,...,...,...,...
299882,2018-09-05 19:07:25.4010,2018-09-05 19:35:36.5000,Amsterdam Ave & W 66 St,40.774667,-73.984706,Cathedral Pkwy & Broadway,40.804213,-73.966991,16376,Subscriber,1,64
299883,2018-09-05 19:07:24.9130,2018-09-05 19:20:20.2760,W 4 St & 7 Ave S,40.734011,-74.002939,E 2 St & Avenue A,40.723077,-73.985836,29943,Subscriber,2,70
299946,2018-09-05 19:08:06.4620,2018-09-05 19:20:16.0180,Henry St & Grand St,40.714215,-73.981346,Lafayette St & E 8 St,40.730207,-73.991026,30951,Subscriber,1,71
299957,2018-09-05 19:08:12.5770,2018-09-05 19:42:24.0340,Market St & Cherry St,40.710762,-73.994004,Catherine St & Monroe St,40.711174,-73.996826,31453,Subscriber,1,76
299990,2018-09-05 19:08:26.2640,2018-09-05 19:44:53.7800,Columbus Ave & W 72 St,40.777057,-73.978985,Hudson St & Reade St,40.716250,-74.009106,26377,Subscriber,1,66

In [22]:
df['starttime'] = pd.to_datetime(df['starttime'])
df['stoptime'] = pd.to_datetime(df['stoptime'])
df['trip duration'] = df['stoptime'] - df['starttime']

In [23]:
df.loc[3, 'trip duration']

Timedelta('0 days 00:07:16.837000')

In [24]:
df['Day_of_week'] = df['starttime'].dt.day_name()
df['Weekend'] = df['Day_of_week'].apply(lambda x: 1 if x in ['Saturday', 'Sunday'] else 0)
df['Weekend'].value_counts()

Weekend
0    184865
1    115135
Name: count, dtype: int64


Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:
поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).
Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

In [25]:
def func_day(hour):
  if hour in [0, 1, 2, 3, 4, 5, 6]:
    return 'night'
  elif hour in [7, 8, 9, 10, 11, 12]:
    return 'morning'
  elif hour in [13, 14, 15, 16, 17, 18]:
    return 'day'
  elif hour in [19, 20, 21, 22, 23]:
    return 'evening'

In [26]:
df['hour_of_day'] = df['starttime'].dt.hour

In [27]:
df['time_of_day'] = df['hour_of_day'].apply(func_day)

In [28]:
df[df['time_of_day'] == 'day'].shape[0]/df[df['time_of_day'] == 'night'].shape[0]

9.480411004308916